.tsk-loader{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  z-index: 9999;
}
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-container p{
  display: inline-block;
  margin-left: 10px;
}
.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff5e3a;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}
.tsk-loader .loader-container .bounce{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff5e3a;
  transition: all linear 500ms .5s;
}
.main-container{
  background: #f2f2f0;
}
.tsk-card{
  background: #fff;
  padding: 10px;
  width: 20%;
  border-radius: 4px;
  color: inherit;
}
.tsk-card .tsk-card-header{
  display: flex;
  padding: 5px;
  border-bottom: 2px solid #f6f6f6;
}
.tsk-card .tsk-card-header h3{
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bolder;
}
.tsk-card .tsk-card-content{
  margin-bottom: 10px;
}
.tsk-card .tsk-card-content p{
  font-size: 13px;
  color: rgb(115, 115, 115);
}
.tsk-card .tsk-card-footer p{
  font-weight: bolder;
  font-size: 12px;
}
.tsk-card .tsk-card-footer span{
  font-weight: lighter!important;
}
/* .tsk-card .main-navigation{
  
} */

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}